@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    /* padding: 0; 
    margin: 0;  */
    box-sizing: border-box;
}

body {
    font-family: "Mulish", sans-serif;
    font-size: 20px;
    padding: 8px;
    background: #e5e8e7;
}

h1 {
    font-size: 40px;
    text-align: center;
}


.faq {
    max-width: 600px;
    padding: 24px;
    border: 1px solid #999;
    margin: 12px auto;
    border-radius: 10px;
    background-color: transparent;
    transition: 0.4s ease;
    position: relative;
}


.faq-title {
    margin: 0 40px 0 0;
    font-size: 24px;
    font-weight: 600;
    
}

.faq-text {
    font-size: 18px;
    display: none;
}


.faq.active .faq-text {
    display: block;
}

.faq.active {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .1),  
    0 3px 6px rgba(0, 0, 0, .1);
    position: relative;
    overflow: hidden;
   
}

.faq.active::after, 
.faq.active::before {
    content: '\f0e5';
    font-family: "Font Awesome 5 Free";
    position: absolute;
    color: #2ecc71;
    opacity: 0.2;
    font-size: 70px;
    top: 20px;
    left: 20px;
}

.faq.active::before {
    top:35px;
    left: 50px;
    transform: rotateY(180deg);
    color: #3498db;
}


/*  take moment */

.faq-toggle {
    background-color: transparent;
    border: none;
    font-size: 30px;
    position: absolute;
    right: 20px;
    top:25px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

.faq-toggle:focus {
    outline: none;
}

.faq:not(.active) .fa-times {
    display: none;
}

.faq.active .fa-chevron-down{
    display: none;

}
 
